body{
    background-color: aliceblue;
    margin: 0px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.menu{
    background-color: rgb(163, 189, 214);
    display: flex;
    justify-content: space-between;
    /*            ⇑   ⇐   ⇓   ⇒    */
    box-shadow: 5px 0px 5px 4px rgb(124, 124, 124);
}

.menu img{
    width: 50px;
    padding-left: 5px;
    padding-right: 5px;
}

.menu .menuLink{
    display: flex;
    align-items: center;
}

.menu .menuLink .LinkMenu{
    padding: 10px;
    text-decoration: none;
    color: black;
}

.menu .cadastro{
    display: flex;
    align-items: center;
    padding-right: 15px;
}

.menu .cadastro .button1{
    margin: 5px;
    background-color: aliceblue;
    border-radius: 50px;
    border-color: black;
}

.menu .cadastro .button2{
    margin: 5px;
    background-color: black;
    color: white;
    border-color: white;
    border-radius: 50px;
}

/*isso ai msm*/

.promocoes {
    width: 100%;
}

.promocoes h2 {
   margin-left: 30px;
   margin-top: 30px;
}
.promocoes label{
    margin-left: 30px;
}

.ofertas {
    display: flex;
    justify-content: space-evenly;
}

.ofertas img {
    margin-left: 0px;
    margin-top: 30px;
    width: 190px;
    height: 230px;
}

.nomes {
    display: flex;
    justify-content: space-evenly;
}

.nomes a{
    font-size: 14px;
    margin-left: 0px;
    margin-top: 8px;
    color: black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-decoration: none;
}

.precos {
    display: flex;
    justify-content: space-evenly;
}

.precos a{
    font-size: 14px;
    margin-left: 0px;
    margin-top: 8px;
    color: black;
    text-decoration: none;
}

.botao  button{
    margin-left: 44%;
    margin-top: 78px;
    background-color: white;
  color: black;
  border: 2px solid #000000; /* Green */
}