/* --------------- Header --------------- */
body{
    background-color: aliceblue;
    margin: 0px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.menu{
    position: fixed;
    background-color: rgb(163, 189, 214);
    display: flex;
    justify-content: space-between;
    /*            ⇑   ⇐   ⇓   ⇒    */
    box-shadow: 5px 0px 5px 4px rgb(124, 124, 124);
    margin-bottom: 15px;
    width: 100%;
}

.menu img{
    width: 50px;
    padding-left: 5px;
    padding-right: 5px;
}

.menu .menuLink{
    display: flex;
    align-items: center;
}

.menu .menuLink .LinkMenu{
    padding: 10px;
    text-decoration: none;
    color: black;
}

.menu .cadastro{
    display: flex;
    align-items: center;
    padding-right: 15px;
}

.menu .cadastro .button1{
    margin: 5px;
    background-color: aliceblue;
    border-radius: 50px;
    border-color: black;
}

.menu .cadastro .button2{
    margin: 5px;
    background-color: black;
    color: white;
    border-color: white;
    border-radius: 50px;
}
/* --------------------------------------------------------------- */
/* ---------- Section --------- */

.principal{
    margin-left: 30%;
    margin-right: 30%;
    background-color: rgb(146, 188, 211);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /*            ⇑   ⇐   ⇓   ⇒    */
    box-shadow: 2px 1px 5px -1px rgb(124, 124, 124);
}

.principal .SaibaMais{
    margin-top: 10%;
    text-align: justify;
    padding: 15px;
}

.principal button{
    margin-bottom: 10px;
    border-radius: 15px;
    background-color: rgb(146, 188, 211);
}

/* --------------------------------------------------------------- */
/* ---------- Saiba Mais ----------- */

.main {
    margin-top: 25px;
    margin-left: 30%;
    margin-right: 30%;
    background-color: rgb(146, 188, 211);
    padding: 5px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: flex;

}

.main img{
    width: 50%;
    border-radius: 10px;
}

.novidades {
    padding-left: 10px;
    display: flex;
    flex-direction: column;
}

.novidades h2{
    text-align: center;
    text-decoration: underline;
}

.novidades .botao1{
    padding-top: 30px;
    display: flex;
    justify-content: center;
}

.novidades .botao1 button{
    border-radius: 15px;
    background-color: rgb(146, 188, 211);
}

/* --------------------------------------------------------------- */

.main2{
    margin-left: 30%;
    margin-right: 30%;
    background-color: rgb(146, 188, 211);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 5px;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 15px;
}

.main2 img{
    width: 50%;
    border-radius: 10px;
}

.main2 .tipos{
    padding-right: 10%;
    padding-top: 30px;
}

.main2 .tipos h2{
    text-decoration: underline;
}

.main2 .tipos .lista
{  
    background-color: aliceblue;
    border-radius: 15px;
    padding: 2px;
}

.main2 .tipos .botao2{
    padding-top: 30px;
    display: flex;
    justify-content: center;
}

.main2 .tipos .botao2 button{
    border-radius: 15px;
    background-color: rgb(146, 188, 211);
}





